{% load static %}
{% load has_attr %}
{% load plan_tags %}

<header class="header">
  {% include '_navbar.html' with user=user %}

  <div class="header__contents">
    <h2 class="header__title">{{ plano.municipio.nome }} - {{ plano.municipio.UF.sigla }}</h2>
    <div class="header__meta">Elaborado em {{ plano.ano }}</div>

    <nav class="header__tabs">
      <div class="header__tabsGroup">
        <a class="header__tab {% if current == 'report' %}is-current{% endif %}" href="{% url 'plan_report' pk=plano.id %}">Análise</a>
        <a class="header__tab {% if current == 'view' %}is-current{% endif %}" href="{% url 'plan_view' pk=plano.id %}">Indicadores</a>
      </div>
      {% if user.is_authenticated %}
        <div class="header__tabsGroup">
          {% if user|getattribute:"dono" %}
            {% is_plan_owner user plano.id as is_owner %}
            {% if is_owner %}
              <a class="header__tab {% if current == 'edit' %}is-current{% endif %}" href="{% url 'plan_edit' pk=plano.id %}">Editar</a>
              <a class="header__tab {% if current == 'gestor' %}is-current{% endif %}" href="{% url 'gestor_list' pk=plano.id %}">Gestores</a>
            {% endif %}
          {% elif user|getattribute:"gestor" %}
            {% is_plan_gestor user plano.id as is_gestor %}
            {% if is_gestor %}
              {% get_plan_pk_by_gestor user as plan %}
              {% if plan %}
                <a class="header__tab {% if current == 'edit' %}is-current{% endif %}" href="{% url 'plan_edit' pk=plan.id %}">Editar</a>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
      {% endif %}
    </nav>
  </div>
</header>
