{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

{% if plugins %}
  <ul class="nav nav-pills nav-stacked">
    {% for plugin in plugins %}
    <li class="{% if forloop.first %} active pt-5{% endif %}">
      <a href="#{{ plugin.slug }}" class="sidebar__item" data-toggle="tab">
        {% if plugin.icone_sidebar %}
          <img class="sidebar__itemIcon" src="{{ STATIC_URL }}{{ plugin.icone_sidebar }}">
        {% endif %}
        <span class="sidebar__itemTitle">{{ plugin.nome }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
{% endif %}
