{% extends 'base.html' %}
{% load static %}

{% block title %}Novo Gestor - {{plano.municipio.nome}}{% endblock %}

{% block body %}
<header class="header">
  {% include '_navbar.html' with user=user %}
</header>


<div class="container mt-10 pt-5">
  <div class="row">
    <h2 class="header__title">Novo Gestor - {{plano.municipio.nome}}</h2>
  <div class="main col-sm-8 col-xs-12">
    <form class="main__form" method="POST">
      {% csrf_token %}
      {% for field in form %}
      {{ field.label_tag }}
      {{ field.help_text}}
      {{ field }}

      {% if field.errors %}
      <div class="main__formError">
        {{ field.errors }}
      </div>
      {% endif %}
      {% endfor %}

      <input type="submit" value="Salvar">
      <div class="mt-10">
        <a class="btn btn-lg btn-yellow" href="{% url 'gestor_list' pk=plano.id %}"> Voltar </a>
      </div>
    </form>
  </div>
  </div>
</div>
{% endblock %}
