{% extends 'base.html' %}
{% load static %}

{% block title %}Novo Projeto - Samba{% endblock %}

{% block body %}
  <header class="header">
    {% include '_navbar.html' with user=user %}

    <div class="header__contents">
      <h2 class="header__title">Novo Projeto</h2>
    </div>
  </header>

  <main class="main">
    <form class="main__form" method="POST">
      {% csrf_token %}

      {% for field in form %}
        {{ field.label_tag }}
        {{ field }}

        {% if field.errors %}
          <div class="main__formError">
            {{ field.errors }}
          </div>
        {% endif %}
      {% endfor %}

      <input type="submit" value="Salvar">
    </form>
  </main>
{% endblock %}
{% block extrascripts %}
  {{form.media}}
{% endblock %}
