#subnav{
  background: $samba-yellow;
  margin-bottom: 0;

  &.navbar-default .navbar-nav > li > a  {
    height: 3.1em;
    line-height: 1.5em;
    color: #000;
    padding: 1em;

    &:hover {
      background: $samba-gray;
      color: white;
      text-decoration: none;
      height: 3.1em;
      line-height: 1.5em;
      padding: 1em;
    }
    &:active {
      background: $samba-gray;
      color: white;
      text-decoration: none;
      height: 3.1em;
      line-height: 1.5em;
      padding: 1em;
    }
    &.edit-class {
      color: white;
    }
  }
}

.navbar-brand h3{
    color: #000;
    margin-top: 0;
}

.year {
  padding-left: 1em;
}

.edit-class {
  background: $samba-blue;
  &a {
    color: white;
  }
}
