.navbar {
  background: black;
  padding: 1em;
  margin-bottom: 0;
}


.navbar-default .navbar-nav > li > a  {
  height: 56px;
  color: $samba-blue;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  transition: background .3s;
  padding: 0 16px;
  line-height: 56px;

  &:hover {
    background: rgba(255,255,255,1);
    color: $samba-gray;
    text-decoration: none;
  }
}

.navbar__logo {
  transition: background .3s;
  margin-right: 2em;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
