

.planList__plan {
  padding: 2rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  transition: border-color .3s;
  text-align: center;

  &:hover {
    border-color: $samba-blue;
  }

}

.planList__planCity {
  width: 100%;
}

.planList__planYear {
  display: inline-block;
  padding: .5rem 1rem;
  font-size: .8125rem;
  border-radius: 1rem;
  border: 1px solid $samba-blue;
  color: white;
  background-color: $samba-blue;
}

.planList__empty {
  color: $samba-gray;
  padding: 10% 0;
  text-align: center;

  a {
    color: $samba-blue;
    text-decoration: underline;
  }
}
