{% extends 'accounts/_form.html' %}
{% load static %}
{% block title %}Redefinir senha - Samba{% endblock %}

{% block form_header %}
  <h3>Redefinir senha</h3>

  {% if not validlink %}
    <div class="auth_error">
      A página de você solicitou não é válida. Solicite uma nova redefinição de senha.
    </div>
  {% endif %}
{% endblock %}

{% block form_fields %}
  {% if validlink %}
    {% for field in form %}
      {{ field.label_tag }}
      {{ field }}

      {% if field.errors %}
        <div class="auth__error">
          {{ field.errors }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <input type="submit" value="Confirmar" />
{% endblock %}

{% block form_footer %}
  <a href="{% url 'index' %}">Voltar para página inicial</a>
{% endblock %}
