{% extends 'accounts/_form.html' %}
{% load static %}
{% block title %}Redefinir senha - Samba{% endblock %}

{% block form_header %}
  <h3>Redefinir senha</h3>
  <p>
    Esqueceu sua senha? Enviaremos um e-mail para você com instruções para recuperar sua conta.
  </p>
{% endblock %}

{% block form_fields %}
  {{ form.email.label_tag }}
  {{ form.email }}

  {% if form.email.errors %}
    <div class="auth__error">
      {{ form.email.errors }}
    </div>
  {% endif %}

  <input type="submit" value="Enviar e-mail" />
{% endblock %}

{% block form_footer %}
  <a href="{% url 'login' %}">Voltar para o login</a>
{% endblock %}
