{% load staticfiles %}
<div class="productHighlight">
  <div class="productHighlight__item">
    <img class="productHighlight__itemImage" src="{% static '/images/icone-foco-plano.png' %}" alt="Foco em planos de saneamento">
    <h4>Foco em planos de saneamento</h4>
    <p>Planeje e gerencie projetos de saneamento de forma eficiente</p>
  </div>

  <div class="productHighlight__item">
    <img class="productHighlight__itemImage" src="{% static 'images/icone-seguranca.png' %}" alt="Segurança">
    <h4>Segurança</h4>
    <p>Todos os dados são protegidos com tecnologias que fazem a diferença</p>
  </div>

  <div class="productHighlight__item">
    <img class="productHighlight__itemImage" src="{% static 'images/icone-relatorios.png' %}" alt="Gráficos e Relatórios">
    <h4>Gráficos e relatórios</h4>
    <p>Crie relatórios técnicos com gráficos de forma simples e fácil</p>
  </div>

  <div class="productHighlight__item">
    <img class="productHighlight__itemImage" src="{% static 'images/icone-indicadores-basicos.png' %}" alt="Índices básicos">
    <h4>Índices eficazes</h4>
    <p>Monitore e gerencie seus projetos através de um conjunto robusto de índicadores</p>
  </div>

  <div class="productHighlight__item">
    <img class="productHighlight__itemImage" src="{% static 'images/icone-tomada-decisao.png' %}" alt="Suporte a tomada de decisão">
    <h4>Suporte a tomada de decisão</h4>
    <p>Tenha métricas e dados para auxiliar na tomada de decisão em saneamento</p>
  </div>

  <div class="productHighlight__item">
    <img class="productHighlight__itemImage" src="{% static 'images/icone-plugins.png' %}" alt="Integração e extensibilidade">
    <h4>Integração e extensibilidade</h4>
    <p>Integre fontes de dados e aumente o poder do Samba com a loja de plugins</p>
  </div>

  <div class="productHighlight__item">
    <img class="productHighlight__itemImage" src="{% static 'images/icone-colaboracao.png' %}" alt="Colaboração entre usuários">
    <h4>Colaboração entre usuários</h4>
    <p>Gerencie, colabore e compartilhe projetos com times e equipes</p>
  </div>

  <div class="productHighlight__item">
    <img class="productHighlight__itemImage" src="{% static 'images/icone-design-adaptavel.png' %}" alt="Design Adaptável">
    <h4>Design Adaptável</h4>
    <p>Tenha uma ferrameta que adapta aos dispositivos que a sua equipe trabalha</p>
  </div>
</div>
