{% load static %}
{% load staticfiles %}
<div id="slides" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
    <li data-target="#slides" data-slide-to="3"></li>
    <li data-target="#slides" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item">
        <img src="{% static 'images/wikimedia_amazonia.jpg' %}" data-color="lightblue" alt="First Image">
    </div>
    <div class="item">
        <img src="{% static 'images/wikimedia_cachoeira.jpg' %}" data-color="firebrick" alt="Second Image">
    </div>
    <div class="item">
        <img src="{% static 'images/wikimedia_petrolina.jpg' %}" data-color="violet" alt="Third Image">
    </div>
    <div class="item">
        <img src="{% static 'images/wikimedia_sea.jpg' %}" data-color="lightgreen" alt="Fourth Image">
    </div>
    <div class="item">
        <img src="{% static 'images/wikimedia_recife.jpg' %}" data-color="tomato" alt="Fifth Image">
    </div>
  </div>
</div>
