{% load static %}
{% load staticfiles %}
<div id="video-carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <video class="video-fluid" autoplay loop muted>
          <source src="{% static 'images/VINHETA_SAMBA.mp4' %}" type="video/mp4" />
      </video>
    </div>
  </div>
</div>
