{% load compress %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <!-- meta & seo -->
  <title>{% block title %}Samba - Saneamento Básico do Brasil{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="tags" content="saneamento básico, saneamento básico municipal, plataforma">
  <meta name="description" content="Samba é uma plataforma focada em projetos de saneamento básico">

  <!-- external stylesheets -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}">
  <!-- <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.css' rel='stylesheet' /> -->

  <!-- <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.js'></script> -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.js'></script>

  <!-- Chart js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


  <!-- our sheets -->
  {% compress css %}
    <link rel="stylesheet" type="text/x-sass" href="{% static 'sass/style.scss' %}" />
  {% endcompress %}
</head>
<body>
  <div class="se-pre-con"></div>
  {% block body %}{% endblock %}
</body>

<!-- external sources -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"> </script>
<!--<script async src="//genius.codes"></script>-->

<!--Annotator-->

<script src="http://assets.annotateit.org/annotator/v1.2.10/annotator-full.min.js"></script>
<link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.2.10/annotator.min.css">
<script src="{% static 'annotator/annotator.init.js'%}"></script>

<!-- our js -->
{% compress js %}
  <script src="{% static 'js/javascripts/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/samba-init.js' %}"></script>
{% endcompress %}
{% block extrascripts %}
{% endblock %}


</html>
